 <div *ngIf="movie" class="details">
        <h4>You selected: {{movie.name}}. Details:</h4>
        <tr>
            <td>Name: </td>
            <td>
                <input [(ngModel)]="movie.name" 
                placeholder="*Name"
                >
            </td>
        </tr>
        <tr>
            <td>Release Year: </td>
            <td>
                <input [(ngModel)]="movie.releaseYear" 
                placeholder="*Release Year"
                >
            </td>
        </tr>
    </div>