<h2>My movies</h2>
<!-- Add movie input -->
<div style="text-align: left;">
    <table style="width: 300px;">
        <tr>
            <td>New Movie's Name: </td>
            <td>
                <input #movieName placeholder="*Name">
            </td>
        </tr>
        <tr>
            <td>Release Year</td>
            <td>
                <input #releaseYear placeholder="*Release Year">
            </td>
        </tr>
        <tr>
            <button (click)="add_new_movie(movieName.value, releaseYear.value);
            movieName.value=''; releaseYear.value='' " >Add</button>
        </tr>
    </table>
</div>

<div class="parent">
    <ol class="movies">
        <li 
        class="movieListItem" 
        *ngFor="let movie of movies"
        >
        <a 
        routerLink="/detail/{{movie.id}}"
        style="text-decoration: none;"
        >
        {{movie.name}} - {{movie.releaseYear}} 
        </a>
        </li>
    </ol>
</div>

<!-- <h2>My movies</h2>
<div class="parent">
    <ol class="movies">
        <li 
        class="movieListItem" 
        *ngFor="let movie of movies"
        [class.selected] = "movie === selectedMovie"
        (click) = "onSelect(movie)"
        >
            {{movie.name}} - {{movie.releaseYear}} 
        </li>
    </ol>
    <app-movie-detail [movie]="selectedMovie" ></app-movie-detail>
</div> -->



