<h2>My movies</h2>
<div class="parent">
    <ol class="movies">
        <li 
        class="movieListItem" 
        *ngFor="let movie of movies"
        [class.selected] = "movie === selectedMovie"
        (click) = "onSelect(movie)"
        >
            {{movie.name}} - {{movie.releaseYear}} 
        </li>
    </ol>

    <!-- Moved to a new component for Input decorator practice -->
    <!-- Use the selector instead -->
    <!-- Assign the input data(selectedMovie) 
        to var movie in movie-detail component -->
    <app-movie-detail [movie]="selectedMovie" ></app-movie-detail>

    <!-- Only show when a movie is selected -->
    <!-- <div *ngIf="selectedMovie" class="details">
        <h4>You selected: {{selectedMovie.name}}. Details:</h4>
        <tr>
            <td>Name: </td>
            <td>
                <input [(ngModel)]="selectedMovie.name" 
                placeholder="*Name"
                >
            </td>
        </tr>
        <tr>
            <td>Release Year: </td>
            <td>
                <input [(ngModel)]="selectedMovie.releaseYear" 
                placeholder="*Release Year"
                >
            </td>
        </tr>
    </div> -->
    
</div>


