<h2>My movies</h2>
<div class="parent">
    <ol class="movies">
        <li 
        class="movieListItem" 
        *ngFor="let movie of movies"
        >
        <a 
        routerLink="/detail/{{movie.id}}"
        style="text-decoration: none;"
        >
        {{movie.name}} - {{movie.releaseYear}} 
        </a>
        </li>
    </ol>
</div>

<!-- <h2>My movies</h2>
<div class="parent">
    <ol class="movies">
        <li 
        class="movieListItem" 
        *ngFor="let movie of movies"
        [class.selected] = "movie === selectedMovie"
        (click) = "onSelect(movie)"
        >
            {{movie.name}} - {{movie.releaseYear}} 
        </li>
    </ol>
    <app-movie-detail [movie]="selectedMovie" ></app-movie-detail>
</div> -->



